@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Error page.</h2>
<h2>Something went wrong lol</h2>
<a asp-controller="Home" asp-action="Index" class="btn-primary">Return to home</a>
