@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "_ErrorLayout";
}

<div class="error">
    <img id="error-bg" src="~/images/error.webp" alt="TODO">
    @* <h1 id="error-title">Something went terribly wrong</h1> *@
    <a asp-controller="Home" asp-action="Index" class="create-customer-form-btn" id="error-return-btn">Return to home</a>
</div>