@model BabunBank.Models.Admin.IdentityUserViewModel

@{
    ViewBag.Title = "Delete";
    Layout = "_Layout";
}

<h2>Admin delete</h2>
<h2>You are about to delete this user, are you sure?</h2>
<form method="post" asp-controller="Admin" asp-action="DeleteConfirmed">
    <input type="hidden" name="id" value="@Model.UserId">
    <input type="hidden" name="username" value="@Model.Username">
    <button type="submit">Yes</button>
    <a asp-controller="Admin" asp-action="Index">Cancel</a>
</form>
