@model BabunBank.Models.FormModels.IdentityUser.UpdateIdentityUserPasswordModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<div class="container">
    <div class="container create-customer">
        <form method="post" class="update-user-form">
            <div asp-validation-summary="ModelOnly"></div>
            <input type="hidden" asp-for="UserId">
        
            <div class="create-customer-form-row">
                Update the password for the user @Model.Username
                <br>You need to confirm the old password as well as the new password to update the user.
            </div>
            <div class="create-customer-form-row">
                <span class="Test">
                    <label asp-for="OldPassword">Old Password</label>
                    <input asp-for="OldPassword" type="password">
                    <span asp-validation-for="OldPassword" class="text-danger"></span>
                </span>

                <span class="Test">
                    <label asp-for="ConfirmOldPassword">Confirm Old Password</label>
                    <input asp-for="ConfirmOldPassword" type="password">
                    <span asp-validation-for="ConfirmOldPassword" class="text-danger"></span>
                </span>
            </div>

            <div class="create-customer-form-row">
                <span class="Test">
                    <label asp-for="NewPassword">New Password</label>
                    <input asp-for="NewPassword" type="password">
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </span>

                <span class="Test">
                    <label asp-for="ConfirmNewPassword">Confirm New Password</label>
                    <input asp-for="ConfirmNewPassword" type="password">
                    <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
                </span>
            </div>
            <div class="button-row">
                <button type="submit" class="create-customer-form-btn">Save changes</button>
                <a asp-controller="Admin" asp-action="Index" class="create-customer-form-btn">Cancel</a>
            </div>
        </form>
    </div>
</div>

@section Scripts

{
    <partial name="_ValidationScriptsPartial" />
}