@model BabunBank.Models.FormModels.IdentityUser.UpdateIdentityUserModel

@{
    ViewBag.Title = "Update";
    Layout = "_Layout";
}

<div class="container create-customer">
    <form method="post" class="update-user-form">
        <div asp-validation-summary="ModelOnly"></div>
        <input type="hidden" asp-for="UserId">

        <div class="create-customer-form-row">
            Update the email, username and user role for the user @Model.OldEmail.
            <br>You need to confirm the old email as well as the new email to update the user.
        </div>
        <div class="create-customer-form-row">
            <span class="Test">
                <label asp-for="OldEmail">Old Email</label>
                <input asp-for="OldEmail" type="text">
                <span asp-validation-for="OldEmail" class="text-danger"></span>
            </span>

            <span class="Test">
                <label asp-for="ConfirmOldEmail">Confirm Old Email</label>
                <input asp-for="ConfirmOldEmail" type="text">
                <span asp-validation-for="ConfirmOldEmail" class="text-danger"></span>
            </span>
        </div>

        <div class="create-customer-form-row">
            <span class="Test">
                <label asp-for="NewEmail">New Email</label>
                <input asp-for="NewEmail" type="text">
                <span asp-validation-for="NewEmail" class="text-danger"></span>
            </span>

            <span class="Test">
                <label asp-for="ConfirmNewEmail">Confirm New Email</label>
                <input asp-for="ConfirmNewEmail" type="text">
                <span asp-validation-for="ConfirmNewEmail" class="text-danger"></span>
            </span>
        </div>

        <div class="create-customer-form-row">
            <span class="Test">
                <label asp-for="UserRole">User Role</label>
                <select asp-for="UserRole" name="UserRole" id="UserRole" class="enum-dropdown">
                    @foreach (var userRole in @ViewBag.AvailableRoles as List<SelectListItem>)
                    {
                        <option value="@userRole.Value">@userRole.Text</option>
                    }
                </select>
                <span asp-validation-for="UserRole" class="text-danger"></span>
            </span>
        </div>

        <div class="button-row">
            <button type="submit" class="create-customer-form-btn">Save changes</button>
            <a asp-controller="Admin" asp-action="Index" class="create-customer-form-btn">Cancel</a>
        </div>
    </form>
</div>

@section Scripts

{
    <partial name="_ValidationScriptsPartial" />

}
