@model BabunBank.Models.LandingPage.LandingPageViewModel
@{
    ViewData["Title"] = "Home Page";
}
<div id="landing-page-bg">
    <img src="~/images/pexels-photo-right-aligned.webp" alt="background">
    <div class="banner">
        <div>
            <h1>Your Goals, Our Expertise</h1>
            <button class="btn-banner">Contact us <i class="fa-solid fa-arrow-right"></i></button>
        </div>
    </div>
</div>

<div id="country-page-bg">
    
    <div id="landing-page-body">
        <div id="header">
        <h2>Provide quality services</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            <a href="#">TODO <i class="fa-solid fa-arrow-right"></i></a>
    </div>
    <div id="card-section">
        
        <div class="country-card">
            <img class="country-flag" src="~/images/flag-of-finland.svg" alt="logo">
            <h3>Country data</h3>
            <p>Stay updated, check your bank account to manage funds and track transactions securely.</p>
            <button>See more <i class="fa-solid fa-arrow-right"></i></button>
        </div>
        
        <div class="country-card">
            <img class="country-flag" src="~/images/flag-of-sweden.svg" alt="logo">
            <h3>Country data</h3>
            <p>Stay updated, check your bank account to manage funds and track transactions securely.</p>
            <button>See more <i class="fa-solid fa-arrow-right"></i></button>
        </div>
        
        <div class="country-card">
            <img class="country-flag" src="~/images/flag-of-norway.svg" alt="logo">
            <h3>Country data</h3>
            <p>Stay updated, check your bank account to manage funds and track transactions securely.</p>
            <button>See more <i class="fa-solid fa-arrow-right"></i></button>
        </div>
        
        <div class="country-card">
            <img class="country-flag" src="~/images/flag-of-denmark.svg" alt="logo">
            <h3>Country data</h3>
            <p>Stay updated, check your bank account to manage funds and track transactions securely.</p>
            <button>See more <i class="fa-solid fa-arrow-right"></i></button>
        </div>
    </div>
</div>
</div>


@* <div class="container projects"> *@
@*     <div> *@
@*         <div id="left"> *@
@*             <h2>3. A quick data summary</h2> *@
@*             <h3>Approach</h3> *@
@*             <p>Consultants specializing in strategy support organizations in achieving competitive excellence *@
@*                 through *@
@*                 deliberate.</p> *@
@*             <h3>FINAL RESULTS</h3> *@
@*             <div> *@
@*                 <p class="left-white"><img src="~/images/Checkmark.png" alt="checkmark">Number of accounts: @Model.NumberOfAccounts</p> *@
@*                 <p class="left-white"><img src="~/images/Checkmark.png" alt="checkmark">Number of customers: @Model.NumberOfCustomers</p> *@
@*                 <p class="left-white"><img src="~/images/Checkmark.png" alt="checkmark">Total account sum: @(Model.TotalAccountBalance.ToString("C2"))</p> *@
@*             </div> *@
@*             <p>Full Case Study <button><img src="~/images/login-arrow.svg" alt="right arrow"></button></p> *@
@*         </div> *@
@*         <div id="right"> *@
@*             <img src="~/images/nordic-countries.jpg" alt="nordic countries"> *@
@*         </div> *@
@*     </div> *@
@* </div> *@