@{
    ViewData["Title"] = "Home Page";
}

<div class="container banner">
    <h1>Your Goals, Our Expertise - Financial Success</h1>
    <h3>Finance insights enable smart moves toward wealth & security</h3>

    <div class="container search-bar">
        <input id="Search" type="text" placeholder="Your email address..." autoComplete="off"/>
        <label for="Search"></label>
        <button>Connect</button>
    </div>

    <p id="text"><span id="underline">Join 27.000+ </span> companies who've reached out to us!</p>
</div>