@{
}

<div class="container">
    <body>
    <h1>API Usage Policy</h1>

    <h2>Usage Guidelines:</h2>
    <ol>
        <li><strong>Fair Usage:</strong> While our API is free to use, we ask developers to adhere to fair usage guidelines. Excessive usage that adversely affects the performance or availability of our API may result in rate limiting or access restrictions.</li>
        <li>The results of the API can be seen <a asp-controller="News" asp-action="Index" style="text-decoration: underline">here.</a> Please do not type anything racist.</li>
        </ol>

    <h2>Get Started:</h2>
    <p>Ready to get started? Visit our <a href="https://babun-api.azurewebsites.net/swagger/index.html" style="text-decoration: underline">API documentation</a> to use it!</p>
    <p>If you have any questions or feedback, feel free to contact us at <a href="#" style="text-decoration: underline">contact@example.com</a>.</p>
    </body>
</div>


<button id="showToastBtn" class="create-customer-form-btn">Show Toast Notification</button>

@section Scripts {
    <script>
        $(document).ready(function () {
        
            toastr.options = {
            "positionClass" : "toast-bottom-center",
                "showDuration": "300", 
                "hideDuration": "1000",
                "timeOut": "5000", 
                "extendedTimeOut": "1000", 
                "hideEasing": "swing", 
                "showEasing": "swing", 
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut",
                "toastClass" : "custom-toast-class"
            };
            
            $('#showToastBtn').click(function () {
                toastr.success('Hello, Toastr!');
            });
        });
    </script>

<style>
    .custom-toast-class {
        background-color: #ff6347; /* Change to your desired background color */
        color: #ffffff; /* Change to your desired text color */
    }
</style>
}