@model TModel

@{
    ViewBag.Title = "Contact us";
    Layout = "_Layout";
}

<h2>Let us know what you think</h2>

<form action="">
    <label for=""></label>
    <input type="text" name="FirstName" placeholder="First name...">
    
    <label for=""></label>
    <input type="text" name="LastName" placeholder="Last name...">
    
    <label for=""></label>
        <input type="text" name="Email" placeholder="Email...">
</form>
