@using Microsoft.AspNetCore.Identity
@model BabunBank.Models.Customer.CustomerViewModel
@inject SignInManager<IdentityUser> SignInManager

@{
    ViewBag.Title = "Customer Details";
    Layout = "_Layout";
}

@if (SignInManager.IsSignedIn(User))
{
<h2>Customer details, add styling here</h2>
<h3>Name: @Model.GivenName</h3>

<div>
    <p>@Model.GivenName</p>
    <a asp-action="Index" asp-controller="Customer" asp-route-sortColumn="@ViewBag.SortColumn" asp-route-sortOrder="@ViewBag.SortOrder">Go Back</a>
</div>
}
else
{
    <h2>You are not signed in</h2>
}