@model IEnumerable<BabunBank.Models.Customer.CustomerViewModel>

@{
    ViewBag.Title = "Account title";
    Layout = "_Layout";
}

<table class="table table-striped">
    <thead>
    <tr>
        <th>
            Gender
            <a asp-page="/Suppliers"
               asp-route-sortColumn="Gender"
               asp-route-sortOrder="asc"
               style="text-decoration:none">
                <i class="fa-solid fa-angle-up"></i>
                           
            </a>
            <a asp-page="/Suppliers"
               asp-route-sortColumn="Gender"
               asp-route-sortOrder="desc"
               style="text-decoration:none">
                <i class="fa-solid fa-angle-down"></i>
            </a>
        </th>
        
        <th>
            Given Name
            <a asp-page="/Suppliers"
               asp-route-sortColumn="GivenName"
               asp-route-sortOrder="asc"
               style="text-decoration:none">
                <i class="fa-solid fa-angle-up"></i>
                                   
            </a>
            <a asp-page="/Suppliers"
               asp-route-sortColumn="GivenName"
               asp-route-sortOrder="desc"
               style="text-decoration:none">
                <i class="fa-solid fa-angle-down"></i>
            </a>
        </th>
        
        <th>
            Surname
            <a asp-page="/Suppliers"
               asp-route-sortColumn="Surname"
               asp-route-sortOrder="asc"
               style="text-decoration:none">
                <i class="fa-solid fa-angle-up"></i>
                                   
            </a>
            <a asp-page="/Suppliers"
               asp-route-sortColumn="Surname"
               asp-route-sortOrder="desc"
               style="text-decoration:none">
                <i class="fa-solid fa-angle-down"></i>
            </a>
        </th>
        
    </tr>
    </thead>
    <tbody>
    
    @foreach (var customer in Model)
    {
        <tr>
            <td>@customer.Gender</td>
            <td>@customer.GivenName</td>
            <td>@customer.Surname</td>
        </tr>
    }
    </tbody>

</table>