@model IEnumerable<BabunBank.Models.Customer.CustomerViewModel>

@{
    ViewBag.Title = "Account title";
    Layout = "_Layout";
}
<h1>Customer table</h1>
<div class="customer-container">
<table class="data-table">
    <thead class="header">
    <tr>
        <th>
            <span class="customer-table">
            Gender
            <a asp-page="/Suppliers"
               asp-route-sortColumn="Gender"
               asp-route-sortOrder="asc"
               style="text-decoration:none">
                <i class="material-symbols-outlined">
                    expand_more
                </i>
            </a>
            
            
            <a asp-page="/Suppliers"
               asp-route-sortColumn="Gender"
               asp-route-sortOrder="desc"
               style="text-decoration:none">
                <i class="material-symbols-outlined">
                    expand_less
                </i>
            </a>
            </span>
        </th>
        
        <th>
            <span class="customer-table">
            Given Name
            <a asp-page="/Suppliers"
               asp-route-sortColumn="GivenName"
               asp-route-sortOrder="asc"
               style="text-decoration:none">
                <i class="material-symbols-outlined">
                    expand_more
                </i>

            </a>
            <a asp-page="/Suppliers"
               asp-route-sortColumn="GivenName"
               asp-route-sortOrder="desc"
               style="text-decoration:none">
                <i class="material-symbols-outlined">
                    expand_less
                </i>
            </a>
            </span>
        </th>
        
        <th>
            <span class="customer-table">
            Surname
            <a asp-page="/Suppliers"
               asp-route-sortColumn="Surname"
               asp-route-sortOrder="asc"
               style="text-decoration:none">
                <i class="material-symbols-outlined">
                    expand_more
                </i>

            </a>
            <a asp-page="/Suppliers"
               asp-route-sortColumn="Surname"
               asp-route-sortOrder="desc"
               style="text-decoration:none">
                <i class="material-symbols-outlined">
                    expand_less
                </i>
            </a>
            </span>
        </th>
        <th>
            
        </th>
    </tr>
    </thead>
    <tbody class="body">
    
    @foreach (var customer in Model)
    {
        <tr>
            <td>@customer.Gender</td>
            <td>@customer.GivenName</td>
            <td>@customer.Surname</td>
            <td><a asp-controller="Customer" asp-action="Details" asp-route-id="@customer.Id">View</a></td>
            @* <a class="navbar-link" asp-area="" asp-controller="Customer" asp-action="Index">Customer</a> *@
        </tr>
    }
    </tbody>

</table>
</div>
