@using System.Globalization
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model BabunBank.Models.FormModels.Cashier.CreateTransferModel


@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<h2>Cashier transfer</h2>
<div class="container mb-5">
    <h2>Cashier Deposit</h2>
    <h2>Your current balance is: @Model.BalanceSender.ToString("C2", new CultureInfo("sv-SE"))</h2>
    <form method="post" asp-controller="Account" asp-action="Transfer">
        <div asp-validation-summary="ModelOnly"></div>
        <div class="create-customer-form-row">
            <span class="Test">
                <label asp-for="Amount">Amount to transfer</label>
                <input asp-for="Amount" type="number">
                <span asp-validation-for="Amount"></span>
            </span>
        
            <span class="Test">
                <label asp-for="ToAccountId">Receiving account id</label>
                <input asp-for="ToAccountId" type="number">
                <span asp-validation-for="ToAccountId"></span>
            </span>
        </div>
        
        <input type="hidden" asp-for="FromAccountId">
        <input type="hidden" asp-for="ToAccountId">
        
        
        <input type="hidden" asp-for="Date">
        @* <input type="hidden" asp-for="Type"> *@
        <input type="hidden" asp-for="OperationSender">
        <input type="hidden" asp-for="OperationReceiver">
        <input type="hidden" asp-for="BalanceSender">
        <input type="hidden" asp-for="Symbol">
        <input type="hidden" asp-for="Bank">
        <input type="hidden" asp-for="Account">
        
        <button type="submit" class="create-customer-form-btn">Create Transfer</button>
    </form>
    <a asp-controller="Cashier" asp-action="Details" asp-route-id="@Model.FromAccountId" class="btn-primary">Return</a>
</div>