@using System.Globalization
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model BabunBank.Models.Cashier.CreateTransferModel


@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Cashier transfer</h2>
<div class="container">
    <h2>Cashier Deposit</h2>
    <h2>Your current balance is: @Model.Balance.ToString("C2", new CultureInfo("sv-SE"))</h2>
    <form method="post" asp-controller="Account" asp-action="Withdraw">
        <div asp-validation-summary="ModelOnly"></div>
        <div class="create-customer-form-row">
            <span class="Test">
                <label asp-for="Amount">Deposit amount</label>
                <input asp-for="Amount" type="number">
                <span asp-validation-for="Amount"></span>
            </span>
        </div>
        <input type="hidden" asp-for="FromAccountId">
        <input type="hidden" asp-for="ToAccountId">
        <input type="hidden" asp-for="Date">
        <input type="hidden" asp-for="Type">
        <input type="hidden" asp-for="Operation">
        <input type="hidden" asp-for="Balance">
        <input type="hidden" asp-for="Symbol">
        <input type="hidden" asp-for="Bank">
        <input type="hidden" asp-for="Account">
        <button type="submit" class="create-customer-form-btn">Create Withdrawal</button>
    </form>
    <a asp-controller="Cashier" asp-action="Details" asp-route-id="@Model.FromAccountId" class="btn-primary">Return</a>
</div>