@model BabunBank.Models.FormModels.User.User

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Authentication is required</h2>
<h2>If authentication is successful, you will receive a 15-minute token.</h2>
<h2>After 15 minutes, you will have to authenticate again.</h2>


<form action="">
    <input type="text">
    <input type="text">
</form>