/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, html, body, a {
  line-height: 160%;
  font-weight: 400;
  color: #070707;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
}

/*Reset done*/

:root{
  --CTA: #ffdb1e;
}

/*Wrapper for view height*/

.wrapper {
  display: grid;
  height: 100dvh;
  grid-template-rows: auto 1fr auto;
}

/*Container for centering*/
.container {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 auto;
  max-width: 87.5%;
}

#landing-page-bg{
  position: relative;
  
  img{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  }
}

/*Container for centering customer table TODO*/
.customer-container{
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  margin: 0 auto;
  width: 87.5%;
}

.table-test {
  background-color: #edf2ee;
  padding: 10px;
  margin: 150px;
}

.data-table {
  min-width: 50%;
  margin: 50px;
  padding: 50px;
}

.data-table th, .data-table td {
  border: 1px solid rgba(53, 77, 64, 0.5);
  text-align: left;
  padding: 8px;
}

.data-table tbody tr:nth-child(even) {
  background-color: #fbf3dc;
}

.data-table tbody tr:nth-child(odd) {
  background-color: #f9eece;
}

.data-table tbody tr:hover {
  background-color: #c7c1af;
}

.data-table tbody tr {
  margin-bottom: 10px;
}

.header {
  background-color: #eae0bd;
}

/**/

button:hover {
  cursor: pointer;
}

input {
  /*TODO*/
  border: 1px solid gray;
  border-radius: 4px;
  height: 50px;
  padding: 10px;
}
input:focus {
  outline: none;
}

.brand-logo {
  height: 30px;
}

.fact-icon {
  height: 37px;
  width: 37px;
}

a {
  text-decoration: none;
  transition: 0.2s ease-in;
}

a:hover {
  color: #29594B;
}

.company-facts-bg {
  background-color: #1A4137;
}

/*Navbar*/

.navbar {
  display: flex;
  justify-content: space-between;
  padding-top: 12px;
  padding-bottom: 12px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.18);
/*TODO nice or not?*/
  background-color: #fcfcfc;
}

.navbar .navbar-navigation {
  display: flex;
  align-items: center;
  gap: 80px;
}
.navbar .navbar-navigation .navbar-links {
  display: flex;
  align-items: center;
  gap: 80px;
}
.navbar .navbar-site-settings {
  display: flex;
  align-items: center;
}

.navbar-link{
  color: #151515;
  font-size: 20px;
}

.container.navbar .navbar-site-settings .btn-signup {
  position: relative;
  background-color: #fcfcfc;
  border: 1px solid #295956;
  border-radius: 30px;
  padding: 6px 30px;
  height: 50px;
  color: #295956;
  font-size: 20px;
  transition: 0.1s ease-in;
}

/*TODO*/
.container.navbar .navbar-site-settings .btn-signup:hover {  
  background-color: rgba(0, 0, 0, 0.07);
  color: #000;
}

.container.navbar .navbar-site-settings .btn-signup img {
  position: absolute;
  right: -40px;
  top: 50%;
  transform: translateY(-50%);
  height: 50px;
}

/*End of navbar*/





/*Footer starts here*/
.footer-bg {
  background-color: #e0e0e0;
  padding: 100px 0;
}

.footer-links {
  background-color: #fcfcfc;
  color: inherit;
  box-shadow: 0px 4px 13px -2px rgba(19, 16, 34, 0.06), 0px 4.8px 24.4px -6px rgba(19, 16, 34, 0.1);
  border-radius: 30px;
  display: flex;
  margin-top: 50px;
  padding: 40px 200px;
  gap: 300px;
}
.footer-links .left-section {
  background-color: #edf9f1;
  padding: 50px;
  border-radius: 50%;
  height: 365px;
  width: 365px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.footer-links .left-section .footer-logo {
  height: 30px;
}
.footer-links .left-section .footer-text {
  color: rgba(0, 0, 0, 0.8);
  width: 70%;
  text-align: center;
}
.footer-links .left-section .footer-icons {
  display: flex;
  gap: 25px;
  height: 30px;
}
.footer-links .right-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 80px;
}
.footer-links .right-section div h3 {
  line-height: 100%;
  font-weight: 700;
  color: #000;
  font-style: normal;
  font-family: "Manrope", sans-serif;
  font-size: 28px;
  line-height: 42px;
  font-weight: 400;
  color: #19352D;
  padding-bottom: 10px;
}
.footer-links .right-section div ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer-links .right-section div ul .link {
  color: rgba(0, 0, 0, 0.8);
}

/*Footer ends here*/


/*Alternative footer starts here*/
.navbar-footer {
  border-top: 1px solid #c9c9c9;
  margin: 50px 0;
  padding-top: 44px;
  display: flex;
  justify-content: space-between;
}
.navbar-footer nav {
  display: flex;
  gap: 40px;
}
.navbar-footer div {
  display: flex;
  gap: 25px;
}

/*Alternative footer ends here*/



/*Landing page starts here*/

/*image section*/
.banner{
  position: relative;
  z-index: 1;
  display: grid;
  max-width: 87.5%;
  margin: 0 auto;
  gap: 72px;
  height: 100vh;
}

/*.banner div button{ //TODO margin or not?*/
  /*margin-left: 50px;*/
/*}*/

.banner div h1{
  margin-top: 150px;
  margin-bottom: 40px;
  /*line-height: 110%;*/
}

.btn-banner{
  border: 1px solid white;
  background-color: transparent;
  a, i{
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    font-size: 24px;
  }
  color: white;
  padding: 10px 30px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: 0.2s ease-in;
  width: fit-content;
  height: 50px;
}

.btn-banner:hover{
  background-color: rgba(255, 255, 255, 0.1);
  transition: 0.2s ease-in;
}


.banner h1 {
  padding-top: 60px;
  line-height: 100%;
  font-weight: 700;
  font-style: normal;
  font-family: "Manrope", sans-serif;
  font-size: 100px;
  color: #ffdb1e;
  width: 700px;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
}

/*image section ends*/

/*filler section here*/

.brand-section{
  display: flex;
  justify-content: space-evenly;
  gap: 80px;
  max-height: 20vh;
  width: 87.5%;
  margin: 0 auto;
  padding: 10px;
}

.brand-section img{
  width: 25%;
  display: block;
  height: 100px;
  object-fit: contain;
  cursor: pointer;
  padding: 10px;
}

.brand-section img:hover{
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/*Landing page view here*/
#country-page-bg{
  /*background-color: #eaf3ee;*/
  background-color: #1a4137;
  min-height: 100vh;
}

#landing-page-body{
  margin: 0 auto;
  padding: 40px 0;
  max-width: 87.5%;
  display: grid;
  gap: 50px;
}

#landing-page-body h2{
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 72px; /* 112.5% */
  /*color: #0A4020;*/
  color: #ffdb1e;
}

#landing-page-body h3{
  /*color: #19352D;*/
  color: #FFDB1E;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 38px; /* 158.333% */
}

#landing-page-body p{
  color: #FFFFFFB2;
}

#landing-page-body #header{
  display: flex;
  justify-content: center;
  h2{
  /*width: 50%;*/
    margin: 40px 0;
  }
}


.landing-page-info{
  display: flex;
  justify-content: center;
  /*gap: 30px;*/
  padding: 30px;
  /*grid-template-columns: repeat(3, 1fr);*/
}

.landing-page-summary{
  /*border: 1px solid black;*/
  div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    text-align: center;
  }
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.landing-page-icon{
  height: 80px;
  width: 80px;
}

.landing-page-arrow{
  align-self: start;
  margin-top: 20px;
  width: 100%;
}

#card-section{
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
}


.country-card{
  display: flex;
  flex-direction: column;
  /*background-color: #fff;*/
  background-color: #dfff5e;
  padding: 20px 40px;
  border-radius: 5px;
  height: fit-content;
  max-width: 200px;
  h3{
    font-size: 24px;
  }
}

.country-flag{
  display: flex;
  align-self: flex-start;
  height: 50px;
}

.country-card button{
  width: fit-content;
  display: flex;
  gap: 10px;
  align-items: center;
  border: none;
  padding: 5px;
  background-color: transparent;
}

.country-card div .data{
  background-color: white;
  margin: 10px 0;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  padding-left: 15px;
}

/*filler section ends here*/


/*country information here*/
.container.projects {
  margin-top: 100px;
  width: 1320px;
  height: 660px;
  background-color: #f9efcf;
  border-radius: 40px;
}
.container.projects div {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.container.projects #left {
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container.projects #left h2 {
  line-height: 100%;
  font-weight: 700;
  color: #000;
  font-style: normal;
  font-family: "Manrope", sans-serif;
  font-size: 28px;
  line-height: 42px;
  font-weight: 400;
}
.container.projects #left h3 {
  line-height: 100%;
  font-weight: 700;
  color: #000;
  font-style: normal;
  font-family: "Manrope", sans-serif;
  font-size: 24px;
}
.container.projects #left div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.container.projects #left div .left-white {
  background-color: #fcfcfc;
  padding: 5px 30px;
  width: fit-content;
  border-radius: 45px;
}
.container.projects #right {
  padding: 50px;
  background-color: #d9d9d9;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 100px;
}
.container.projects #right button {
  border: none;
  height: 70px;
  width: 70px;
  border-radius: 50%;
}

/*country section ends here*/

/*Button styling here*/

button:hover{
  cursor: pointer;
}

.btn-login{
  width: fit-content;
  padding: 0 45px;
  border-radius: 50px;
  background-color: white;
  border: 1px solid #295956;
  font-size: 20px;
  color: #295956;
  height: 50px;
}

.btn-arrow{
  border: none;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin-left: -30px;
  /*margin-left: -20px original*/
  background-color: #295956;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-arrow i{
  color: white;
}


.login{
  display: flex;
  align-items: center;
  width: fit-content;
}

.login:hover .btn-login{
  transition: 0.2s ease-in;
  border: 1px solid #1d4440;
  color: #1d4440;
}

.login:hover .btn-arrow{
  transition: 0.2s ease-in;
}

.login:hover .btn-arrow{
  i{
  color: var(--CTA);
  }
  transition: 0.2s ease-in;
  transform: translateX(4px); 
/*  TODO see if this is annoying or not 2px original*/
}

.customer-table {
  span{
    display: flex;
    align-items: center;
  }
  display: flex;
  align-items: center;
  a{
    display: flex;
    align-items: center;
  }
}

#logged-in{
  img{
    height: 50px;
    border-radius: 50%;
  }
  display: flex;
  gap: 20px;
  align-items: center;
}

table{
  width: fit-content;
}



/*Contact section here*/

.contact-form{
  border: 1px solid black;
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  
  div{
    display: flex;
    flex-direction: column;
  }
}

.contact-form input{
  border: 1px solid black;
  width: 20%;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 8px;
}

.contact-form button{
  width: 20%;
}

.container.customer{
  align-items: center;
  width: fit-content;
}

.customer-card-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  /*border: 1px solid gray;*/
  padding: 0.75rem;
  border-radius: 24px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  background-color: #edf8ea;
  /*todo is this the right color?*/
  .customer-card-left{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding-left: 50px;
  }
  
  .customer-card-right{
    width: 100%;
    text-align: center;
    font-size: 2rem;
    img{
      width: 90%;
      height: 90%;
      margin-bottom: 1rem;
    }
  }
}

.customer-card-profile-name{
  display: flex;
  flex-grow: 1;
  width: 100%;
  justify-content: center;
}

.account-details.container{
  place-items: center;
  text-align: start;
}


.customer-card-button-row{
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

.customer-card-button-row .create-customer-form-btn,
.customer-card-button-row .btn-regret {
  width: calc(100% / 4);
  display: flex; 
  /*flex-grow: 1;*/
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 8px;
  i{
    color: #efefef;
  }
}


/*Login section here*/

.login-section{
  place-items: center;
  min-width: 60%;
  height: 100vh;
}

.login-form{
  max-width: 720px;
  width: 100%;
  section{
    input{
      background-color: #0000000A;
      height: 60px;
      padding: 24px 20px;
    }
  }
}

.form-control{
  height: 30px;
  margin-bottom: 30px;
}

#login-submit{
  /*background-color: #31795A;*/
  background-color: #295956;
  border: none;
  height: 60px;
  transition: 0.2s ease-in;
  border-radius: 0.25rem;
}

#login-submit:hover{
  color: #ffdb1e;
}

#Input_RememberMe{
  padding: 0;
  height: 20px;
  width: 20px;
}

.create-customer-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.create-customer-form-row{
  display: flex;
  align-items: center;
  gap: 20px;
  width: 700px;
}

.create-customer-form span{
  display: flex;
  flex: 1;
}

.create-customer-form input{
  margin: 10px 0;
}

.create-customer-form-btn{
  height: 50px;
  background-color: #295956;
  border: none;
  transition: 0.2s ease-in;
  border-radius: 0.25rem;
  color: white;
  display: inline-block;
  width: fit-content;
  a{
    color: white;
  }
}

a.create-customer-form-btn{
  display: flex;
  align-items: center;
}

.create-customer-form-btn.view-more{
  display: flex;
  align-items: center;
  gap: 12px;
}

.create-customer-form-btn:hover{
  color: var(--CTA);
  a{
    color: var(--CTA);
  }
}

.btn-regret{
  height: 50px;
  display: flex;
  align-items: center;
  /*background-color: #a32831;*/
  background-color: #ff000f;
  color: white;
  border-radius: 0.25rem;
}

.btn-regret:hover{
  background-color: #d1000d;
  color: white;
}

.Test{
  display: flex;
  flex-direction: column;
  /*margin-bottom: 24px;*/
}

#UserRole{
  height: 50px;
}

.success{
  font-size: 72px;
  color: var(--CTA);
}

.dropdown-list{
  height: 50px;
}

.customer-filter-form{
  display: flex;
  flex-wrap: wrap;
  max-width: 720px;
  width: 100%;
  justify-content: center;
  margin-bottom: 2rem;
}

.customer-filter-form input,
.customer-filter-form select {
  flex: 1;
  margin-right: 5px; 
}

#filter-page-result{
  font-size: 1.25rem;
}

/*Contact page here*/

#contact-form-textarea{
  height: 500px;
  width: 500px;
  resize: none;
  margin-bottom: 30px;
  border-radius: 4px;
  border: 1px solid grey;
  padding: 5px 10px;
}

#contact-form-textarea:focus{
  outline: none;
}